<h1 class="text-center text-success mt-5">Parent Works</h1><br>
<p class="text-center text-info mt-5">{{_Constructor}}<br>{{_ngOnInIt}}</p>
<div class="container">
    <button class="w-100 btn btn-outline-warning" (click)="ShowChild()">Toggle Child</button>
    <input type="text" class="form-control mt-2" [(ngModel)]="_ParentData" placeholder="Send Value to Child">
</div>
<app-child *ngIf="_ShowChild" [IncomingValueForChild]="_ParentData">
    <h1 #child >child</h1>
    <h2>child</h2>
    <h3>child</h3>
    <h4>child</h4>
    <h5>child</h5>
    <h6>child</h6>
</app-child>
